@import "tailwindcss";

/* 1. Define your custom theme variables here */
@theme {
    --color-brand: #1F6F43;
    --color-brand-light: #E6F4EA;
    --color-brand-dark: #165231;
    --color-brand-accent: #FFD700;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-outfit);
    /* Assuming you set this in layout.tsx */
}

@layer utilities {
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }

    .hide-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}